.todo-list-item {
    font-size: 1.25rem;
    width: 100%;
}
.mySpan{
    cursor: pointer;
}
.ifDuplicate {
    background-color: red;
}

.done{
    text-decoration: line-through;
}

.active {
    font-weight: bold;
    color: yellow;
    background: blue;
}

.same{
    margin-left: 3rem;
    border-bottom: 5px solid red;
}

.duplicatedSearch {
    border-bottom: 2px solid red;
}

.myImportant:hover {
    color: #28a745 !important;
    border-color: #28a745 !important;
    background-color: white !important;
    text-decoration: none;
}


